<div class="flex justify-content-center">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Авторизация</p-tab>
            <p-tab value="1">Регистрация</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-authtorization></app-authtorization>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-registration></app-registration>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
<p-toast />