<div class="flex flex-column m-auto">
    <div class="flex justify-content-between align-items-center flex-wrap">
        <span class="mx-3">Текущий пароль</span>
        <input 
            type="password"
            pInputText
            [ngClass]="{'input-error': !currentpassword }"
            [(ngModel)]="currentpassword"
            [type]="showCurrentPassword ? 'text' : 'password'"
        />
        <button (click)="showCurrentPassword = !showCurrentPassword" class="p-button-text">
            {{ showCurrentPassword ? 'Скрыть' : 'Показать' }}
        </button>
    </div>
    <div class="mt-3 flex justify-content-between align-items-center flex-wrap">
        <span class="mx-3">Новый пароль</span>
        <input 
            [type]="showNewPassword ? 'text' : 'password'"
            pInputText
            [ngClass]="{'input-error': !newpassword || newpassword.length < 6 }"
            [(ngModel)]="newpassword"
        />
        <button (click)="showNewPassword = !showNewPassword" class="p-button-text">
            {{ showNewPassword ? 'Скрыть' : 'Показать' }}
        </button>
    </div>
    <div class="mt-3 flex justify-content-between align-items-center flex-wrap">
        <span class="mx-3">Повторить пароль</span>
        <input 
            [type]="showConfirmPassword ? 'text' : 'password'"
            pInputText
            [ngClass]="{'input-error': newpassword !== repeatPassword }"
            [(ngModel)]="repeatPassword"
        />
        <button (click)="showConfirmPassword = !showConfirmPassword" class="p-button-text">
            {{ showConfirmPassword ? 'Скрыть' : 'Показать' }}
        </button>
    </div>

    <div class="mt-3 flex justify-content-between align-content-center flex-wrap">
        <p-button
            label="Изменить пароль"
            [disabled]="!currentpassword || !newpassword || newpassword.length < 6 || newpassword !== repeatPassword"
            (click)="onChange()"
        ></p-button>
    </div>
</div>