<p-table [value]="basketItems$ | async" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Тур</th>
            <th>Цена</th>
            <th>Дата</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tour>
        <tr>
            <td>{{ tour.name }}</td>
            <td>{{ tour.price }}</td>
            <td>{{ tour.date }}</td>
            <td>
                <p-button 
                    icon="pi pi-trash" 
                    severity="danger" 
                    (click)="removeItem(tour)"
                    styleClass="p-button-sm">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>