@use "variables" as var;

:host {
    height: 60px;
    width: 100%;
    display: block;
}

.layout-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    background: #000;
    color: #fff;
    height: 100%;
    padding: 4px 6px;

    &__right-block {
        display: flex;
        align-items: center;

        &.user-info {
            width: 100px;
        }

        & .basket {
            display: flex;
            align-items: center;
            cursor: pointer;
            
            & .basket-icon-wrap {
                position: relative;
                font-size: 1.5rem;
                padding: 0.5rem;
                
                &:hover {
                    color: #17ce36;
                }
            }
        }
    }
}

