<div class="layout-header">
    <div class="layout-header__menu">
        <p-menubar [model]="menuItems" />
    </div>
    <div class="layout-header__right-block">

        <div class="user-info"></div>

        <div class="logout">
            <p-button
            [icon]="logoutIcon"
            label="{{user?.login}}"
            pTooltip="Logout"
            (mouseenter)="hoverLogoutBtn(true)"
            (mouseleave)="hoverLogoutBtn(false)"
            (onClick)="logOut()"
            severity="secondary"
            >
            </p-button> 
        </div>

        <div class="date">
            <div>
                {{dateTime | date: 'HH:mm:ss'}}
            </div>
            <div class="p-0 m-0">
                {{dateTime | date: 'EEEE'}}
            </div>
        </div>
    </div>
</div>
