@use "variables" as var;

:host {
    height: 60px;
    width: 100%;
    display: block;
}

.layout-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    background: #000;
    color: #fff;
    height: 100%;
    padding: 4px 6px;

    &__right-block {
        display: flex;
        &.user-info {
            width: 100px;
        }
    }
}

