<div class="flex justify-content-center">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Смена пароля</p-tab>
            <p-tab value="1">Статистика</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-password-change></app-password-change>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-statistics></app-statistics>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
<p-toast />