<p-inputgroup>
    <input 
        pInputText
        placeholder="поиск тура"
        #searchInput
    />
    <p-inputgroup-addon>
        <p-button icon="pi pi-search" severity="secondary" variant="text" />
    </p-inputgroup-addon>
</p-inputgroup>


<div appHighlightActive
    selector='.tour-item'
    [initFirst]="true"
    (onEnter)="selectActive($event)"
    class="tours-list flex flex-wrap justify-content-around align-items-stretch">

    @for (item of tours | search: searchInput.value : 'name'; track item.id) {
        <div (click)="goToTour(item)"
            class="m-2 col-3 tour-item align-self-stretch">

            <p-card
            header="{{item.name}}"
            subheader="{{item.price}}"
            styleClass="tour-p-card"
            >
            <ng-template #header>
                <img src="/img/{{item.img}}" class="w-full" alt="Card">
            </ng-template>
            <p>{{item.description}}</p>

            </p-card>
        </div>
    }
    @empty {
        <div class="no data">Нет данных</div>
    }
</div>