<p-inputgroup>
    <input 
        pInputText
        placeholder="поиск тура"
        #searchInput
    />
    <p-inputgroup-addon>
        <p-button icon="pi pi-search" severity="secondary" variant="text" />
    </p-inputgroup-addon>
</p-inputgroup>

<p-galleria 
(activeIndexChange)="activeIndexChange($event)"
class = "tour-item-galleria"
[value]="toursArr()" 
[showIndicators]="true" 
[showThumbnails]="false" 
[containerStyle]="{ 'max-width': '640px' }"
>

    <ng-template #item let-item>
        <img 
        [ngSrc]="'/img/'+ item.img" priority fill 
        style="width: 100%; display: block;" />
    </ng-template>

</p-galleria>
